* { zoom: 1; }
* html .clearfix {
    height: 1%;
}
* + html .clearfix {
    display: inline-block;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.inputCheckbox {
    display: block !important;
    position: absolute;
    left: -9999px;
}